@import "compass/reset";
@import "compass/utilities";
@import "compass/css3";

body {
    font: 0.8em/110% Arial, sans-serif;
}

h1 {
    margin: 0.75em 1em;
    font-size: 2em;
    font-weight: bold;
    line-height: 2;
}

/* containers */
.widget {
    @include box-sizing(border-box);
    @include pie-clearfix;
    padding: 1em;
    margin: 1em;
    border: 3px solid #dedede;
    background-color: #efefef;
    @include border-radius(10px);
    h4 {
        padding-bottom: 0.5em;
        margin: 0 0 1em 0;
        font-size: 1.3em;
        font-weight: bold;
        line-height: 120%;
        text-align: center;
        color: #999;
        border-bottom: 3px solid #999;
    }
    .tfr-widget { float: left; }
}

.code {
    margin: 0 0 1em 1em;
    float: left;
    border: 1px solid #ccc;
    background-color: #eee;
    @include border-radius(10px);
    h4 { padding: 1em;}
}

code {
    display: block;
    padding: 1em;
    margin: 1em;
    @include border-radius(5px);
    background-color: #fff;
}

/* examples */

$foreground: #2099d5;
$background: #c7e8f9;

.tfr-widget {
    display: block;
    margin: 0 auto;
    padding: 0 1px;
    max-width: 15em;
	color: $foreground;
    background-color: $background;
	@include border-radius (5px);
    a { text-decoration: none; }
}

.tfr-header {
    @include clearfix;
    padding: 8px 10px;
    a { font-size: 1em; }
    h3 {
        padding: 0;
        margin: 0;
        font-size: 0.7em;
        line-height: 100%;
    }
}

.tfr-header a,
.tfr-footer a { color: $foreground; }

.tfr-user-image {
	float: left;
	margin: 0 0.3em 0.3em 0;
	width: 31px;
	height: 31px;
}

.tfr-container {
    list-style: none;
    background-color: #fff;
    @include border-radius (5px);
}

.tfr-item {
    list-style: none;
    padding: 10px;
    line-height: 120%;
    border-bottom: 1px dotted #333;
    color: #333;
    a { word-wrap: break-word; }
    .tfr-user-name { font-weight: bold; }
    &:last-child { border-bottom: 0; }
}

.tfr-footer {
    padding: 10px;
    a { text-align: right; }
}

.tfr-conversation { display: block; }
.tfr-icon { float: left; }