/* line 17, ../../../Ruby/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../Ruby/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../Ruby/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../Ruby/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../Ruby/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../Ruby/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../Ruby/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../Ruby/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../Ruby/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 5, site.scss */
body {
  font: 0.8em/110% Arial, sans-serif;
}

/* line 9, site.scss */
h1 {
  margin: 0.75em 1em;
  font-size: 2em;
  font-weight: bold;
  line-height: 2;
}

/* containers */
/* line 17, site.scss */
.widget {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *zoom: 1;
  padding: 1em;
  margin: 1em;
  border: 3px solid #dedede;
  background-color: #efefef;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
/* line 38, ../../../Ruby/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.widget:after {
  content: "";
  display: table;
  clear: both;
}
/* line 25, site.scss */
.widget h4 {
  padding-bottom: 0.5em;
  margin: 0 0 1em 0;
  font-size: 1.3em;
  font-weight: bold;
  line-height: 120%;
  text-align: center;
  color: #999;
  border-bottom: 3px solid #999999;
}
/* line 35, site.scss */
.widget .tfr-widget {
  float: left;
}

/* line 38, site.scss */
.code {
  margin: 0 0 1em 1em;
  float: left;
  border: 1px solid #cccccc;
  background-color: #eee;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
/* line 44, site.scss */
.code h4 {
  padding: 1em;
}

/* line 47, site.scss */
code {
  display: block;
  padding: 1em;
  margin: 1em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background-color: #fff;
}

/* examples */
/* line 60, site.scss */
.tfr-widget {
  display: block;
  margin: 0 auto;
  padding: 0 1px;
  max-width: 15em;
  color: #2099d5;
  background-color: #c7e8f9;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
/* line 68, site.scss */
.tfr-widget a {
  text-decoration: none;
}

/* line 71, site.scss */
.tfr-header {
  overflow: hidden;
  *zoom: 1;
  padding: 8px 10px;
}
/* line 74, site.scss */
.tfr-header a {
  font-size: 1em;
}
/* line 75, site.scss */
.tfr-header h3 {
  padding: 0;
  margin: 0;
  font-size: 0.7em;
  line-height: 100%;
}

/* line 84, site.scss */
.tfr-header a,
.tfr-footer a {
  color: #2099d5;
}

/* line 86, site.scss */
.tfr-user-image {
  float: left;
  margin: 0 0.3em 0.3em 0;
  width: 31px;
  height: 31px;
}

/* line 93, site.scss */
.tfr-container {
  list-style: none;
  background-color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

/* line 99, site.scss */
.tfr-item {
  list-style: none;
  padding: 10px;
  line-height: 120%;
  border-bottom: 1px dotted #333333;
  color: #333;
}
/* line 105, site.scss */
.tfr-item a {
  word-wrap: break-word;
}
/* line 106, site.scss */
.tfr-item .tfr-user-name {
  font-weight: bold;
}
/* line 107, site.scss */
.tfr-item:last-child {
  border-bottom: 0;
}

/* line 110, site.scss */
.tfr-footer {
  padding: 10px;
}
/* line 112, site.scss */
.tfr-footer a {
  text-align: right;
}

/* line 115, site.scss */
.tfr-conversation {
  display: block;
}

/* line 116, site.scss */
.tfr-icon {
  float: left;
}
