[Bb]in/
!src/packages/
[Oo]bj/
TestResults/
_ReSharper.*/
PrecompiledWeb/
_Secure/
tmp/
.sass-cache/

*.suo
*.user
*.swp
*.vspscc
*.vssscc
*.bak
*.[Cc]ache
*.scssc

Thumbs.db
Gemfile.lock
.DS_Store
~$*