[Bb]in/
[Oo]bj/
TestResults/
PrecompiledWeb/
Build/
EmailPickup/
Log_/
_ReSharper.*/
localWorkingFolder/
_Virtual/
.sass-cache/

*.suo
*.user
*.swp
*.vspscc
*.vssscc
*.scssc
*.bak
*.[Cc]ache
tmp/
Thumbs.db
.DS_Store
~$*